body {
  background-image: url("https://source.unsplash.com/user/erondu/1600x900");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
